# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/.gitignore
/easy/test.prn
/medium/test.prn
/medium/test2.prn
